@import 'archer'

$base_font_family = serif

normalize()

header
    height: 44px
    font-size: 24px
    line-height: @height
    text-align: center
    background: #555
    color: #FFF

.anim-box
    margin: 10px auto
    line-height: 30px
    size: 120px @line-height
    text-align: center
    background: #CCC

animate(anim-bounce, bounce, 0.5s, both)
animate(anim-bounceIn, bounceIn, 0.5s, both)
animate(anim-bounceInDown, bounceInDown, 0.5s, both)
animate(anim-bounceInLeft, bounceInLeft, 0.5s, both)
animate(anim-bounceInRight, bounceInRight, 0.5s, both)
animate(anim-bounceInUp, bounceInUp, 0.5s, both)
animate(anim-bounceOut, bounceOut, 0.5s, both)
animate(anim-bounceOutDown, bounceOutDown, 0.5s, both)
animate(anim-bounceOutLeft, bounceOutLeft, 0.5s, both)
animate(anim-bounceOutRight, bounceOutRight, 0.5s, both)
animate(anim-bounceOutUp, bounceOutUp, 0.5s, both)

animate(anim-fadeIn, fadeIn, 0.5s, both)
animate(anim-fadeInDown, fadeInDown, 0.5s, both)
animate(anim-fadeInDownBig, fadeInDownBig, 0.5s, both)
animate(anim-fadeInLeft, fadeInLeft, 0.5s, both)
animate(anim-fadeInLeftBig, fadeInLeftBig, 0.5s, both)
animate(anim-fadeInRight, fadeInRight, 0.5s, both)
animate(anim-fadeInRightBig, fadeInRightBig, 0.5s, both)
animate(anim-fadeInUp, fadeInUp, 0.5s, both)
animate(anim-fadeInUpBig, fadeInUpBig, 0.5s, both)

animate(anim-fadeOut, fadeOut, 0.5s, both)
animate(anim-fadeOutDown, fadeOutDown, 0.5s, both)
animate(anim-fadeOutDownBig, fadeOutDownBig, 0.5s, both)
animate(anim-fadeOutLeft, fadeOutLeft, 0.5s, both)
animate(anim-fadeOutLeftBig, fadeOutLeftBig, 0.5s, both)
animate(anim-fadeOutRight, fadeOutRight, 0.5s, both)
animate(anim-fadeOutRightBig, fadeOutRightBig, 0.5s, both)
animate(anim-fadeOutUp, fadeOutUp, 0.5s, both)
animate(anim-fadeOutUpBig, fadeOutUpBig, 0.5s, both)

animate(anim-flash, flash, 0.5s, both)
