@import "archer"

// normalize()

.box
    transition: transform 0.3s ease-in
    display: flex
    align-items: flex-start
    box-shadow: 2px 2px 5px #DDD
    margin: 10px
.box-figure
    width: px_to_rem(80px)
    margin: 1rem
.box-entry
    flex: 1
    margin-right: 1rem
    p
        font-size: px_to_rem(14px)
        line-height: 1.25em

.another-box
    flex-flow: row-reverse
    .box-entry
        margin-left: 1rem