@import "archer"

// config test
default_base_font_family = serif

normalize()

body
    padding 10px

// no-bullet, no-bullets
.no-bullet-item
    no-bullet()

.no-bullet-list
    no-bullets()

// size
.square
    size: 100px
    background: #AFF

.rectangle
    size: 100px 60px
    background: #AAF

// clearfix
.cf-container
    width: 200px
    background: #FFA
    padding: 0
    no-bullets()
    clearfix()
    li
        size: 50px
        margin: 5px
        float: left
        background: #AFA

// retina image
.retina
    size: 160px 205px
    retina-image: "../img/archer.jpg" 160px 205px

.image2x
    size: 160px 205px
    background-image: url(../img/archer@2x.jpg)
    background-size: 160px 205px

// hide text
.htext
    size: 200px
    background: #FFA
    hide-text()

// ellipsis
.ellipsis-line-1
    ellipsis()
.ellipsis-line-2
    ellipsis(2)

// arrow
.arrow-box-left
.arrow-box-right
.arrow-box-bottom
.arrow-box-top
    text-align: center
    line-height: 80px
    size: 200px @line-height
    margin: 20px

.arrow-box-left
    background: #ACA
    arrow: 20px @background left center
.arrow-box-right
    background: #CAC
    arrow: 15px @background right top 10px
.arrow-box-bottom
    background: #ACC
    arrow: 30px @background bottom center
.arrow-box-top
    background: #CCA
    arrow: 20px @background top right 20px
