// Archer:Compatibility
// 
// @file    compatibility.styl
// @author  firede(firede@firede.us)

box-shadow()
    -webkit-box-shadow: arguments
    box-shadow: arguments

box-sizing()
    -webkit-box-sizing: arguments
    box-sizing: arguments
