// Archer:Compatibility
// 
// @file    compatibility.styl
// @author  firede(firede@firede.us)

@import "util"

box-shadow()
    prefixer: "box-shadow", arguments, webkit spec

box-sizing()
    prefixer: "box-sizing", arguments, webkit spec
