// Archer:Config
// 
// @file    config.styl
// @author  firede(firede@firede.us)

// default typographic settings
$font_size_pixel := 16px
$text_color := #333
$base_font_family := sans-serif
$code_font_family := monospace, serif

// default retina settings
$retina_dppx := 1.3
$retina_suffix := "@2x"

// default prefixes
$vendor_prefixes := webkit moz o ms spec
