// Archer:Config
// 
// @file    config.styl
// @author  firede(firede@firede.us)

// default typographic settings
default-font-size = 16px
default-text-color = #333
default-input-placeholder-color = #999
default-base-font-family = sans-serif
default-code-font-family = monospace, serif

// default retina settings
default-retina-suffix = "@2x"
