// Archer:Function
// 
// @file    function.styl
// @author  firede(firede@firede.us)

@import 'config'

/**
 * pixel to rem
 */
px_to_rem(pixel)
    unit(pixel / $font_size_pixel, rem)

/**
 * hidpi
 *
 * @see http://goo.gl/eHTUo6
 * @see http://bjango.com/articles/min-device-pixel-ratio/
 */
hidpi(dppx = $retina_dppx)
    s = 'only screen and (-webkit-min-device-pixel-ratio:' + dppx + '),'
    s += 'only screen and (min-resolution:' + round(unit(dppx * 96, dpi)) + ')'
