// setting
// 
// @desc    default settings, you can overriding it by yourself.
// @author  firede(firede@firede.us)

// off stylus compatibility settings (ex: keyframes), autoprefixer do it.
vendors = official

// the unit using `px` value(100% == 16px)
$base_font_size ?= 16px

// default font family
$base_font_family ?= sans-serif
$code_font_family ?= monospace, serif

// default retina settings
// $retina_dppx := 1.3
// $retina_suffix := "@2x"
