// unit
// 
// @desc    unit conversion functions
// @author  firede(firede@firede.us)

$base_font_size ?= 100%

rem(_value)
    if unit(_value) == "px" || unit(_value) == ""
        _value = (_value / 16 * 100) / $base_font_size
    else if unit(_value) == "%"
        _value = _value / $base_font_size
    unit(_value, "rem")

px(_value)
    if unit(_value) == "rem"
        _value = _value * $base_font_size * 16 / 100
    else if unit(_value) == "%"
        _value = _value / $base_font_size * 16
    unit(_value, "px")
