// unit
// 
// @author  firede(firede@firede.us)
// @desc    unit conversion functions

@import 'setting'


// convert to rem unit
rem(_value)
    if unit(_value) == "px" || unit(_value) == ""
        _value = round(_value / $base_font_size, 3)

    unit(_value, "rem")


// convert to px unit
px(_value)
    if unit(_value) == "rem"
        _value = round(_value * $base_font_size, 3)

    unit(_value, "px")
