// Archer:Util
// 
// @file    util.styl
// @author  firede(firede@firede.us)

/**
 * clearfix
 */
clearfix()
  &:after,
  &:before
    content: " ";
    display table
  &:after
    clear both

/**
 * size settings
 */
size(size-w, size-h = size-w)
  width size-w
  height size-h

/**
 * no bullets
 */
no-bullet()
  list-style-image none
  list-style-type none
  margin-right 0
no-bullets()
  list-style none
  li
    no-bullet()
